.navbar {
  background: #0C1D4E;
  color: white;
}

span {
  color: white;
}

.intoContainer {
  text-align: center;
}

.logoImg {
  height: 180px;
  width: 180px;
}

.scooterImg {
  height: 115px;
  padding-left: 11%;
  padding-top: 14%;
}

.img-circle {
  height: 175px;
  width: 175px;
  margin-left: 25%;
  margin-right: 24%;
  margin-top: 7%;
  border: 2px #0C1D4E solid;
  border-radius: 108px;
  background-color: white;
}