<!-- Navbar -->
<div class="navbar">
  <div class="navbar-inner">
    <!-- Back button -->
    <div class="left sliding">
      <a href="../index.html" class="back link"> 
        <span>Back</span>
      </a>
    </div>
    <!-- Title -->
    <div class="center sliding">About</div>
  </div>
</div>

<div class="pages">
  <div data-page="partslist" class="page">
    <div class="page-content">
      <div class="content-block inset">
        <div class="content-block-inner mainAboutCon">
          <!-- Authors card background images -->
          <div class="backgroundCon"></div>
          <!-- Authors profile pic -->
          <div class="img-circle about-circle">
            <img class="about-img" src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/15776987_220388358415811_396814283136721926_o.jpg?oh=abc26f7762564037d51aa5c33e272820&oe=5938FF5C" alt="Ryans profile pic">
          </div>
          <!-- Authors Description -->
          <div class="aboutCon">
            <!-- Authors name -->
            <h3 class="authorsName">Ryan Garrett</h3>
            <!-- Authors description -->
            <p class="aboutTxt">
              My name is Ryan Garrett, I am an apprentice for a company called Accenture. My day job currently involves using new technologies e.g. React, Angular 2 etc to create solutions that 
              could be sold to other companies. As part of the apprenticeship, I do a computing course 
              at Sunderland University.
            </p><br />
            <p class="aboutTxt">I made this application to allow users to easily find information about mopeds their interested in. The only current moped available on the application is the Honda PCX 125cc. 
              However more will be coming soon! 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>