<div class="navbar">
  <div class="navbar-inner">
    <div class="left sliding">
      <a href="../index.html" class="back link">
        <span class="backButton">Back</span>
      </a>
    </div>
    <div class="center sliding">{{Name}}​</div>
  </div>
</div>

<div class="pages">
  <div data-page="partslist" class="page">
    <div class="page-content">
      <div class="content-block inset">
        <div class="content-block-inner">
          <img class="partImg" src="{{URL}}" alt="Honda PCX 125cc Engine">
          <hr />
            {{#Parts}}
            <h3 class="partTitle">{{Part}}</h3>
            <p id="test" class="partText">{{PartDetail}}</p><hr />
            {{/Parts}}
        </div>
        <h3>Comments:</h3>
        {{#Comments}}
        <div class="commentBox">
          <div>
            <img class="userImg" src="{{UserImg}}" alt="Honda PCX 125cc Engine">
          </div>
          <div class="userCon2">
            <p class="userName">{{Username}}</p>
            <p class="userComment">{{Comment}}</p>
          </div>
        </div>
        {{/Comments}}
      </div>
    </div>
  </div>
</div>