<!-- Navbar -->
<div class="navbar">
  <div class="navbar-inner">
    <!-- Back button -->
    <div class="left sliding">
      <a href="../index.html" class="back link">
        <span>Back</span>
      </a>
    </div>
    <!-- Title -->
    <div class="center sliding">Honda PCX 125cc</div>
  </div>
</div>

<div class="pages">
  <div data-page="partslist" class="page">
    <div class="page-content">
      <div class="img-circle">
        <img class="scooterImg" src="http://www.pedparts.co.uk/c/asset/bike-descript-pics/Honda_PCX_125.png" alt="Honda PCX 125cc">
      </div>
      <!-- Sub heading -->
      <div class="content-block-title">Parts:</div>
      <div class="list-block">
        <!-- Displays the components list -->
        <ul>
          <!-- Loops through each object in the json -->
          {{#each this}}
          <li>
            <!-- Link to the more detail view, passes info using 'data-context-name'' -->
            <a href="./templates/detail.html" class="item-content item-link" data-context-name="partslist.{{@index}}">
              <div class="item-inner">
                <div class="item-title">{{Name}}​</div>
              </div>
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>